html {
	
	background-image : url("./Images/background");
	background-size : cover;
	background-repeat : no-repeat;
}

button {
	
	width : 35px;
	height : 35px;
}

.neutralise {
	
	background : rgb(40,40,40,0.8);
}

.bille {
	
	background : url("./Images/bille.png") no-repeat;
	cursor : pointer;
	background-size: cover;
}

.play {
	
	border : medium groove yellow ;
}